.nav-wrapper{
    background:url(https://thumbs.dreamstime.com/b/tropical-pattern-green-palm-tree-leaves-white-background-great-wallpaper-backgrounds-invitations-packaging-design-193065050.jpg);

}

.page-footer{
    background-color: aqua;
}
.box{

    color: black;

}

.box_1{
    font-size: 80px;
    color:black
}





.carousel-item_1{
    color: white;
    background-color:red;
}

.Raven_flag{
    width: 120px;
}