

@font-face 
{
    font-family: 'khan';
    src: url(Berlishanty.ttf);
}


h1{
    font-family: 'khan';
    font-weight: 300;
    color: rgb(255, 0, 0);
}
button{
    width:200px;
    padding: 20px;
    color:blueviolet;
    border: none;
    cursor: pointer;
    background-color: aqua;
}


body{

   background-image: url(pexels-svetlana-romashenko-11148007.jpg);
background-size: cover ;
background-attachment: fixed;

}

.rose{
    color: rgb(255, 255, 255);
    background-color: brown;
  
}